<div class="container">

  <h3 class="d-flex justify-content-center">Italika </h3>
  <h5 class="d-flex justify-content-center">Hola mundo angular</h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <button routerLink="people"
      class="m-1 btn btn-light btn-outline-primary" Button>Personas</button>
    </li>   
    <li class="nav-item">
      <button routerLink="peoplelist"
      class="m-1 btn btn-light btn-outline-primary" Button>Lista de personas</button>
    </li>        
  </ul>
  </nav>

<router-outlet></router-outlet>

</div>