<div class="container">
    <div class="card text-left">
        <div class="card-header p-2 mb-2 bg-primary text-white">
            <b>Modificar Persona</b>
        </div>
        <form class="row g-2" [formGroup]="formPersona" (submit)="send()">
            <div class="col-md-6">                
                <label class="form-label">Nombre</label>
                <input class="form-control" type="text" id="Name" formControlName="Name" placeholder="Name" >                        
            </div>

            <div class="col-md-6">                
                <label class="form-label">Nombre Usuario</label>
                <input class="form-control" type="text" id="UserName" formControlName="UserName" placeholder="UserName" >                        
            </div>
            <div class="col-md-6">                
                <label class="form-label">E-Mail</label>
                <input class="form-control" type="text" id="Email" formControlName="Email" placeholder="Email" >                        
            </div>
            <div class="col-md-6">                
                <label class="form-label">Telefono</label>
                <input class="form-control" type="text" id="Phone" formControlName="Phone" placeholder="Phone" >                        
            </div>
            <div class="col-md-6">                
                <label class="form-label">WebSite URL</label>
                <input class="form-control" type="text" id="WebSite" formControlName="WebSite" placeholder="WebSite" >                        
            </div>




            <div>
                <br>
                <label class="text-danger" style="float:left m-2" [hidden]="formPersona.valid">* Todos los campos son obligatorios favor de completarlos</label>
                <br>
                <button class="btn btn-primary btn-block m-2" [disabled]="formPersona.invalid" >Guardar</button>                            
            </div>                               
        </form>
    </div>
  </div> 